/* "CSS Reset"  */
@import url('https://fonts.googleapis.com/css?family=Inter:400|Milonga:400|Oswald:300|Karma:600');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
  --black: #2A2935;
  --darkblue: #274574;
  --teal-dark: #0A6480;
  --teal-light: #93C6D3;
  --lightblue: #CFDAF2;
  --sand: #E9E3DE;

/*  inherited colors  */
  --text: #2A2935;
}

/* set default font style here */
html, body{
  font-size:18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--darkblue);
}

/* Add Heading styles here  */
h1 {  
    margin-top: 0;
    font-size: 2.488rem;
    font-family: 'Milonga', sans-serif;
}

h2 {
    font-size: 2.074rem;
    font-family: 'Karma', serif; 
}

h3 {
    font-size: 1.728rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase
}

h4 {
    font-size: 1.44rem;
}

h5{
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h6{
    font-size: 0.833rem;
}

small, .text_small {font-size: 0.6rem;}

/*  testing code to show gaps */

html {
    color: hotpink;
}

/* header styling  */
header{ 
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--sand);
    background-color: var(--darkblue);  
    height:120px
}

header h5{
    color:var(--sand);
}

#logo{
    height: 100px; 
    max-width: 100px;
    margin: auto;
    display: inline-block;
}

a{
    text-decoration: none;
    margin: 0 10px;
    }

#navigation{
    align-self: stretch;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
}
.menu{
    margin: auto;
    padding: 2px 10px;
}



/* main styling */
section{
    min-height: fit-content;
}

/* hero styling */
#hero{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    background-color: var(--teal-dark);
    padding: 0px;
    }
#hero-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    align-self: center;
    margin: auto;
}

#hero h1{ 
    text-justify: center;
    color: var(--lightblue);
    padding: 10px;
    margin: auto;
    
    text-shadow: 0 0 15px var(--black), 0 0 75px var(--sand);
}
#hero h2{ color: var(--sand);
    padding: 5px;
    margin: auto;
    max-width: 850px;
    text-shadow: none;
}

#contact-link{
    border-color: var(--black);
    color: var(--black);
    border: 1px solid;
    padding: 10px;  
    border-radius: 4px;
    background-color: var(--sand);
    text-decoration: none;
    margin: auto;
    display: block;
    width: 200px;
}
/* bio section styling */
#bio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: fit-content;
    padding:20px;
    background-color:var(--teal-light);
    }

.abc{
    padding: 20px;
}

p {
    color: var(--black);
}

h3 {
    color: var(--darkblue);
    margin-bottom: 10px;
    margin-top: 10px;
}
/* styling shared by projects and blog */

.section-text{ 
    margin:0 10px;
    padding:0 20px; 
    max-width: 850px;
}


h2{
    padding-top: 20px;
    color: var(--black);
    text-shadow: 0 0 15px var(--sand), 0 0 50px var(--black) ;
}

/* projects section styling */

#projects{  
    background-color:var(--lightblue) ;
}

#projects-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: fit-content;
    padding:20px;
}    

/* bike blog section styling */

#blog-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
}

#blog{  
    background-color: var(--sand)
}

/* footer styling */

footer{
    text-align: center;
    height: 120px;
    background-color: var(--darkblue); 
    color: var(--sand);
}
.svg{color: var(--sand);}

#socials-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.socials img{
    max-height: 50px;
    color: var(--sand);
}

footer p{
    color: var(--sand);
}

/* Contact section Styling */

#contact{
    min-height: calc(100vh - 240px); /* to push the footer to the bottom (240px is header + footer) */
    margin: auto;
    color: var(--darkblue); 
    background-color: var(--sand);
}

#contact h1{ color: var(--darkblue);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-start;
    flex-wrap: wrap;
}
#contact-box{
    padding-top: 10px;
}

/*Contact us Table Layout*/ 
#table{
    width:100%;
    padding-top: 10px;
}
.table-header{
    
    font-size: small;
    font-weight: normal;
    text-align: left;
}

.table-input-cell{
    background-color: transparent;
    border-color: black;
    font-size: small;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}

input[type=submit] {
    background-color:var(--darkblue)   ;
    color: var(--sand);
    box-sizing: border-box;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px; /*line up exactly with the inside of the select cell*/
    max-width: 50%;
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    height: 100%;
    padding: 2px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 0; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#subject{
    height: 100%;
    margin-bottom: 0;
}

#textarea{
    height: min-content;
}

/* hover state styling */

#contact-link:hover, .project img:hover, .blog-post img:hover, input[type=submit]:hover{
    box-shadow:  0 0 10px var(--sand),0 0 20px var(--black), 0 0 30px var(--darkblue);
}

.menu:hover{
    text-shadow:  0 0 10px var(--black),0 0 20px var(--sand), 0 0 30px var(--teal-dark);
    margin: auto;
}

/*Meda Queries*/

/* larger than ipad lanscpae size bigger */

@media (min-width: 768px) {    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    #logo{
        width: auto;
    }

    #hero {  
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        min-height: fit-content; 
    }

    #hero img {
        max-width: 50%;
        height: auto;
        align-self: flex-start;   
    } 
        
    #hero-text {   
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        flex-grow: 2; 
    }

    #abc-box{
        max-width: 850px;    /* to keep to ~100 characters on width */
        margin: auto;
    }

    #projects-box, #blog-box{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        min-height: fit-content;
        flex-wrap: wrap;
    }

    .project, .blog-post{
        width: 30%;
    }

    .project img, .blog-post img{
        max-height: 200px;
    }
      
    #form{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:center;
        flex-wrap: wrap;
        margin: auto;
    }

    #table{
        max-width:768px;
        margin: auto;
    }
    #contact-box{
        max-width:768px;
        margin: auto;
    }
}

/* larger than landscape ipad */
@media (min-width: 1025px) { 
    #abc-box{
        min-width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        min-height: fit-content;
        margin: 0;
    }

    .abc{
        max-width: 850px;
    }

    .project, .blog-post{
        width: 15%;
    }
    .project img, .blog-post img {
        max-height: fit-content;
    }
}
/* hero image break point */
@media (min-width: 1370px) {   
    #hero img {
        max-width: 30%;
    }

    #hero-text {   
    margin: 5vh 0;  
    }
}
